:root {
	--bg: #fbfbfb;
	--bg-secondary: #f0f0f0;
	--fg: #22252d;
	--fg-secondary: #9197a5;
	--key-bg: #e9e9e9;
	--key-operator-fg: rgb(220 38 38);
	--key-special-fg: rgb(74 222 128);

	--key-spacing: 16px;
	--key-border-radius: 16px;
	--key-size: 64px;
}

.dark * {
	--bg: #22252d;
	--bg-secondary: #292d36;
	--fg: #fbfbfb;
	--fg-secondary: #bfbec0;
	--key-bg: #22262d;
	--key-operator-fg: #eb6666;
	--key-special-fg: rgb(74 222 128);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
}

#app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--bg);
}

#theme {
	display: flex;
	margin: 1em auto;
	background-color: var(--bg-secondary);
	border-radius: var(--key-border-radius);
	align-items: center;
}

#theme * {
	display: flex;
	align-items: center;
	margin: .25em .4em;
}

#theme svg {
	height: auto;
	width: 1.5em;
	fill: var(--fg-secondary);
}

#theme svg:hover {
	cursor: pointer;
}

#theme .theme-active svg {
	fill: var(--fg);
}

#screen {
	flex: 1;
	padding: 1rem;
	font: sans-serif;
}

#screen>p {
	color: var(--fg);
	text-align: right;
}

#result {
	font-size: 2rem;
}

#keypad {
	background-color: var(--bg-secondary);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-top-left-radius: calc(var(--key-border-radius) + var(--key-spacing));
	border-top-right-radius: 32px;
	padding-left: var(--key-spacing);
	padding-bottom: var(--key-spacing);
	margin: auto;
}

.row {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.key {
	background-color: var(--key-bg);
	color: var(--fg);
	border: none;
	border-radius: var(--key-border-radius);
	cursor: pointer;
	margin: var(--key-spacing) var(--key-spacing) 0 0;
	width: var(--key-size);
	min-width: var(--key-size);
	max-width: var(--key-size);
	height: 4rem;
	font-size: 1rem;
}

.key:active {
	mix-blend-mode: color-dodge;
}

.key.key-operator {
	font-weight: bold;
	color: var(--key-operator-fg);
}

.key.key-special {
	font-weight: bold;
	color: var(--key-special-fg);
}

.key.key-compute {
	color: var(--key-fg);
	background-color: var(--key-special-fg);
}

#prisme-banner {
	position: fixed;
	bottom: .5rem;
	left: 50%;
	transform: translate(-50%, 0%);
	width: max-content;
	max-width: 100%;
	padding: 0.5rem 1rem;
}

#prisme-banner[data-closed=true] {
	display: none;
}

#prisme-banner img {
	width: 4rem;
}

#prisme-banner>div {
	background-color: var(--bg-secondary);
	padding: 1rem;
	border-radius: var(--key-border-radius);
}

#prisme-banner>div>div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

#prisme-banner button.key {
	margin: 0;
}

.hidden {
	display: none;
}

/* Small screen */
@media screen and (min-width: 640px) {
	#prisme-banner>div>div {
		flex-direction: row;
	}

	.sm\:hidden {
		display: none;
	}

	.sm\:block {
		display: block;
	}
}

/* Medium screen */
@media screen and (min-width: 768px) {}

/* Large screen */
@media screen and (min-width: 1024px) {}

/* XL screen */
@media screen and (min-width: 1280px) {}

/* 2XL screen */
@media screen and (min-width: 1536px) {}
